openapi: 3.0.0

info:
  description: |
    전자(세금)계산서 애플리케이션 소프트웨어를 구축하고 통합하기 위한 정의 및 프로토콜 세트를 제공합니다.<br/>
    모든 요청에는 `web-token`을 사용하여 권한이 있는 사용자에게만 액세스를 허용합니다. 

  version: 1.0.0
  title: Blueport e-TaxBill API Documentation
  termsOfService: 
  contact:
    name: API Support
    email: rnd@blueport.co.kr
    url: https://taxtest.blueport.co.kr:9443
  x-logo:
    url: './blueport_logo.png'
    altText: Blueport logo
  license:
    name: #Apache 2.0
    url: #'http://www.apache.org/licenses/LICENSE-2.0.html'
externalDocs:
  description: 
  url:
tags:
  - name: 인증
    description: |
      JWT(JSON Web Token)는 당사자 간에 JSON 오브젝트로 정보를 안전하게 전송하는, 간편하고 URL에 안전한 방법을 정의하는 개방형 표준입니다. JWT는 API에 액세스하려는 클라이언트를 인증하는 데 사용할 수 있으므로 보통 RESTful API를 보안하는 데 사용됩니다.
        - `Authorization : Bearer <token>` 인증 토큰
        - `X-Client-Id` 회원가입 시 발급받은 사용자 아이디
  - name: 전자(세금)계산서
    description: 전자(세금)계산서 발행 및 조회
  - name: 인증서
    description: 전자(세금)계산서용 인증서 등록 및 정보조회
  - name: 인증오류코드
    description: |
      인증에 관련된 오류 응답코드 정의
        - `AUT001`  토큰 정보 누락
        - `AUT002`  사용자 정보(X-Client-Id) 누락
        - `AUT003`  토큰 사용기간 만료
        - `AUT004`  토큰 정보가 유효하지 않음
  - name: 처리결과코드
    description: |
      전자(세금)계산서 발급 처리결과에 해당하는 응답코드 정의
        - `SUC001`  성공
        - `SYS001`  연계 사업자 인증 오류
        - `SYS002`  중복된 SubmitID
        - `SYS003`  존재하지 않는 SubmitID
        - `SYS101`  인증서 암호 불일치 오류
        - `SYS102`  유효하지 않은 인증서 오류
        - `SYS103`  전자(세금)계산서 접수 오류
        - `SYS104`  존재하지 않는 요청아이디(requestId) 오류
        - `SYS105`  존재하지 않는 승인번호(issueId) 오류
        - `SYN001`  인증서 복호화 실패
        - `SYN002`  공급사업자, 수탁자 전자서명 오류
        - `SYN003`  승인번호 중복 오류
        - `SYN004`  전자(세금)계산서 스키마 오류
        - `ERR001`  공급사업자 사업자번호 오류
        - `ERR002`  공급받는자 사업자번호 오류
        - `ERR003`  수탁사업자 등록번호 오류
        - `ERR005`  발급일시 오류
        - `ERR006`  작성일자 오류
        - `ERR007`  공급가액, 세액 오류
        - `ERR008`  코드 유형 오류
        - `ERR009`  폐업사업자 발급 오류
        - `ERR010`  국세청 등록번호 오류
        - `ERR011`  당초승인번호 오류
        - `ERR101`  이메일 전송 실패
        - `ERR102`  전자(세금)계산서 영수증 생성 실패
        - `ERR999`  정의되지 않은 기타오류

#x-tagGroups:
#  - name: REST API LIST
#    tags:
#      - 전자(세금)계산서

paths:
  /user-service/login:
    post:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 인증
      summary: 인증토큰발급
      description: API 사용자 인증을 받기 위한 토큰을 발급받는다.<p>response header에 `token` 값으로 반환된다.
      # requestBody:
      #   $ref: "#/components/requestBodies/Login"
      x-codeSamples:
        - lang: 'Javascript'
          source: |
            $.ajax({
                url: 'https://taxtest.blueport.co.kr:8443/user-service/login',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({                          // 데이터 직렬화
                    "email": "이메일주소",
                    "password": "패스워드"
                }),
                complete(function(data) {
                  console.log(data);                              // response
                  console.log(data.status);                       // HttpStatus code
                  console.log(data.responseJSON);                 // json data
                  console.log(data.getResponseHeader('token'));   // header token value
                  console.log(data.getAllResponseHeaders());      // all headers
                }
            });
      responses:
        200:
          description: OK
          headers:
            token:
              description: 인증토큰 (유효기간 1일)
              schema:
                type: String
            X-Client-Id:
              description: 사용자(고객)아이디
              schema:
                type: String
  /etaxbill-service/v1/health-check:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 서버상태체크
      description: 서버에 요청을 보내 서비스 가능 상태를 체크한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      responses:
        200:
          description: OK
          content:
            text/plain:
              schema:
                type: String
              example: It's working in BLUEPORT_ETAXBILL
      x-codeSamples:
        - lang: 'Javascript'
          source: |
            $.ajax({
                url: 'https://taxtest.blueport.co.kr:8443/etaxbill-service/v1/health-check',
                type: 'GET',
                contentType: 'application/json',
                headers: {
                    'Authorization': 'Bearer 토큰값',
                    'X-Client-Id': '클라이언트 아이디'
                },
                complete(function(data) {
                  console.log(data);                      // response
                  console.log(data.status);               // HttpStatus code
                  if(data.status == 200) {  // 성공 시 text 값 반환 (다른 API에서는 json 값 반환)
                      console.log(data.responseText);     // text data
                  } else {                  // 예외발생 시
                      console.log(data.responseJSON);     // json data
                      console.log(data.responseJSON.code);
                  }
                }
            });
  /etaxbill-service/v1/tax-invoice/issue:
    post:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 발행
      description: 국세청(홈택스)에 전자(세금)계산서를 발행한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      requestBody:
        $ref: "#/components/requestBodies/TaxInvoiceReq"
      responses:
        200:
          $ref: "#/components/responses/200Ok"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                        "success": false,
                        "code": "SYN004",
                        "msg": "전자(세금)계산서 스키마 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/tax-invoice/batch/issue:
    post:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 일괄 발행
      description: 국세청(홈택스)에 전자(세금)계산서를 일괄 발행한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      requestBody:
        $ref: "#/components/requestBodies/TaxInvoiceBatchReq"
      responses:
        200:
          $ref: "#/components/responses/200OkArray"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                        "success": false,
                        "code": "SYN004",
                        "msg": "전자(세금)계산서 스키마 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/tax-invoice/issue/list:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 목록 조회
      description: 국세청(홈택스)에 전자(세금)계산서 발행 목록을 조회한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
        - name: page
          in: query
          description: 현재 페이지 번호 (0부터 시작)
          schema:
            type: Integer
            default: 0
            example: 1
        - name: size
          in: query
          description: 페이지에 보여 줄 목록 갯 수
          schema:
            type: Integer
            default: 20
            example: 10
        - name: sort
          in: query
          description: '목록 정렬 조건 (asc : 오름차순, desc: 내림차순)<br/>ex) sort=issueId,desc&sort=writeDate,asc 승인번호 내림차순, 작성일자 오름차순 조건으로 정렬'
          schema:
            type: String
            default: sort=issueId,desc&sort=dataCreatedAt,desc
            example: writeDate,desc
        - name: sBrokerYN
          in: query
          description: 위수탁포함여부(Y/N)
          schema:
            type: String
            example: Y
        - name: sBusinessType
          in: query
          description: "매입/매출구분('01': 매입, '02': 매출)"
          schema:
            type: String
            example: '02'
        - name: sPeriodType
          in: query
          description: "조회기간구분('01': 작성일자, '02': 발급일자, '03': 전송일자)"
          schema:
            type: String
            example: '01'
        - name: sStartDate
          in: query
          description: "조회시작일"
          schema:
            type: String
            format: Date
            pattern: YYYYMMDD
            example: '20211013'
        - name: sEndDate
          in: query
          description: "조회종료일"
          schema:
            type: String
            format: Date
            pattern: YYYYMMDD
            example: '20211013'
        - name: sBusinessIdType
          in: query
          description: "등록번호구분('01': 사업자등록번호, '02': 주민등록번호, '03': 외국인)"
          schema:
            type: String
            example: '01'
        - name: sBusinessId
          in: query
          description: "등록번호(사업자등록번호 10자리, 주민등록번호 13자리, 외국인 '9999999999999' 고정값)"
          schema:
            type: String
            example: '1234567890'
        - name: sTaxRegistrationId
          in: query
          description: "종사업장번호(사업자단위과세제도에 따라 국세청에서 부여한 코드 4자리)"
          schema:
            type: String
            example: '1234'
        - name: sCompanyName
          in: query
          description: 상호
          schema:
            type: String
            example: 블루포트
        - name: sInvoiceTypeCode
          in: query
          description: "세금계산서종류(분류2자리 + 종류2자리)"
          schema:
            type: String
            example: '0101'
        - name: sProcessStatusCode
          in: query
          description: "처리상태('01': 처리완료, '02': 처리중, '03': 처리불가)"
          schema:
            type: String
            example: '01'
      responses:
        200:
          $ref: "#/components/responses/200OkList"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/tax-invoice/issue/{issueId}:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 상세 조회
      description: 국세청(홈택스)에 전자(세금)계산서 발행 상세정보를 조회한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
        - name: issueId
          in: path
          required: true
          description: 승인번호
          schema:
            type: String
      responses:
        200:
          $ref: "#/components/responses/200OkResult"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/cloud/download/originXML/{issueId}:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 XML원본 다운로드
      description: 계산서 원본XML파일을 다운로드 한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
        - name: issueId
          in: path
          description: 승인번호
          schema:
            type: String
      responses:
        200:
          description: OK
          content:
            application/octet-stream:
              schema:
                type:
              examples:
                result:
                  value: |
                    <TaxInvoice xmlns="urn:kr:or:kec:standard:Tax:ReusableAggregateBusinessInformationEntitySchemaModule:1:0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:kr:or:kec:standard:Tax:ReusableAggregateBusinessInformationEntitySchemaModule:1:0 http://www.kec.or.kr/standard/Tax/TaxInvoiceSchemaModule_1.0.xsd">
                      <ExchangedDocument>
                          ...
                      </ExchangedDocument>
                      <TaxInvoiceDocument>
                          <IssueID>2021110841000225xwcunryt</IssueID>
                          <TypeCode>0101</TypeCode>
                          <DescriptionText>이 문서는 일반 전자세금계산서 문서입니다.</DescriptionText>
                          <IssueDateTime>20211108</IssueDateTime>
                          <PurposeCode>01</PurposeCode>
                      </TaxInvoiceDocument>
                      <TaxInvoiceTradeSettlement>
                          <InvoicerParty>
                              ...
                          </InvoicerParty>
                          <InvoiceeParty>
                              ...
                          </InvoiceeParty>
                          <SpecifiedPaymentMeans>
                              <TypeCode>10</TypeCode>
                              <PaidAmount>696900</PaidAmount>
                          </SpecifiedPaymentMeans>
                          <SpecifiedPaymentMeans>
                              <TypeCode>40</TypeCode>
                              <PaidAmount>5000000</PaidAmount>
                          </SpecifiedPaymentMeans>
                          <SpecifiedMonetarySummation>
                              <ChargeTotalAmount>5179000</ChargeTotalAmount>
                              <TaxTotalAmount>517900</TaxTotalAmount>
                              <GrandTotalAmount>5696900</GrandTotalAmount>
                          </SpecifiedMonetarySummation>
                      </TaxInvoiceTradeSettlement>
                      <TaxInvoiceTradeLineItem>
                          ...
                      </TaxInvoiceTradeLineItem>
                      <TaxInvoiceTradeLineItem>
                          ...
                      </TaxInvoiceTradeLineItem>
                    </TaxInvoice>
  /etaxbill-service/v1/tax-invoice/issueResult/{requestId}:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 발행결과 조회
      description: 클라이언트에서 발행한 요청 아이디로 계산서 발행결과를 조회한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
        - name: requestId
          in: path
          required: true
          description: 요청번호<br/>- 전자(세금)계산서 발행 요청 시스템(Client)에서 부여하는 식별체계
          schema:
            type: String
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200OkResult"
              examples:
                result:
                  value:
                    {
                        "success": true,
                        "code": "SUC001",
                        "msg": "성공",
                        "data": {
                            "requestId": "20211125-001",
                            "issueId": "2021112541000225qptniogl",
                            "issueDate": "20211125103833",
                            "resultStatusCode": "SUC001"
                        }
                    }
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                        "success": false,
                        "code": "SYS104",
                        "msg": "존재하지 않는 RequestId 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/tax-invoice/batch/issueResult/list:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 발행결과 일괄 조회
      description: 클라이언트에서 발행한 요청 아이디로 계산서 발행결과를 일괄조회 한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
        - name: requestIds
          in: query
          required: true
          description: 요청아이디목록( ' , '로 구분)
          schema:
            type: String
            example: 20211125-001,20211125-003
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200OkResultList"
              examples:
                result:
                  value:
                    {
                        "success": true,
                        "code": "SUC001",
                        "msg": "성공",
                        "data": [
                            {
                                "requestId": "20211125-001",
                                "issueId": "2021112541000225qptniogl",
                                "issueDate": "20211125103833",
                                "resultStatusCode": "SUC001"
                            },
                            {
                                "requestId": "20211125-003",
                                "issueId": null,
                                "issueDate": null,
                                "resultStatusCode": "SYS104"
                            },
                            {
                                "requestId": "20211125-005",
                                "issueId": 2021112541000225qptniedl,
                                "issueDate": "20211125103835",
                                "resultStatusCode": null
                            }
                        ]
                    }
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                        "success": false,
                        "code": "SYS104",
                        "msg": "존재하지 않는 RequestId 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /email-service/v1/email/taxInvoice/send:
    put:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 이메일 재전송
      description: 발급된 계산서 영수증 이메일을 재전송 한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/taxInvoiceEmail"
            examples:
              sample:
                value:
                  {
                      "issueId": "2021121741000225atsbcxee",
                      "target": "공급받는자",
                      "toAddress": "abc@email.com, def@email.com"
                  }
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200OkSimple"
              examples:
                result:
                  value:
                    {
                        "success": true,
                        "code": "SUC001",
                        "msg": "성공"
                    }
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR101",
                      "msg": "이메일 전송 정보 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR101",
                      "msg": "이메일 전송 실패"
                    }
  /email-service/v1/email/batch/taxInvoice/send:
    put:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 이메일 일괄 재전송
      description: 발급된 계산서 영수증 이메일을 일괄 재전송 한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/taxInvoiceEmail"
            examples:
              sample:
                value:
                  [
                    {
                        "issueId": "2021121741000225dtskwxee",
                        "target": "공급자",
                        "toAddress": "abc@email.com,def@email.com"
                    },
                    {
                        "issueId": "2021121741000225atsbcxee",
                        "target": "공급받는자",
                        "toAddress": "abc@email.com, def@email.com"
                    }
                  ]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200OkSimple"
              examples:
                result:
                  value:
                    {
                        "success": true,
                        "code": "SUC001",
                        "msg": "성공"
                    }
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR101",
                      "msg": "이메일 전송 정보 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR101",
                      "msg": "이메일 전송 실패"
                    }
  /etaxbill-service/v1/tax-invoice/standby/issue:
    post:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 예약발행
      description: 전자(세금)계산서 예약발행을 등록한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      requestBody:
        $ref: "#/components/requestBodies/TaxInvoiceReq"
      responses:
        200:
          $ref: "#/components/responses/200Ok"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                        "success": false,
                        "code": "SYN004",
                        "msg": "전자(세금)계산서 스키마 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/tax-invoice/standby/batch/issue:
    post:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 일괄 예약발행
      description: 전자(세금)계산서를 예약발행을 일괄등록한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      requestBody:
        $ref: "#/components/requestBodies/TaxInvoiceBatchReq"
      responses:
        200:
          $ref: "#/components/responses/200OkArray"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                        "success": false,
                        "code": "SYN004",
                        "msg": "전자(세금)계산서 스키마 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/tax-invoice/standby/issue/{issueId}:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 예약발행 상세 조회openapi: 3.0.0

info:
  description: |
    전자(세금)계산서 애플리케이션 소프트웨어를 구축하고 통합하기 위한 정의 및 프로토콜 세트를 제공합니다.<br/>
    모든 요청에는 `web-token`을 사용하여 권한이 있는 사용자에게만 액세스를 허용합니다. 

  version: 1.0.0
  title: Blueport e-TaxBill API Documentation
  termsOfService: 
  contact:
    name: API Support
    email: rnd@blueport.co.kr
    url: https://taxtest.blueport.co.kr:9443
  x-logo:
    url: './blueport_logo.png'
    altText: Blueport logo
  license:
    name: #Apache 2.0
    url: #'http://www.apache.org/licenses/LICENSE-2.0.html'
externalDocs:
  description: 
  url:
tags:
  - name: 인증
    description: |
      JWT(JSON Web Token)는 당사자 간에 JSON 오브젝트로 정보를 안전하게 전송하는, 간편하고 URL에 안전한 방법을 정의하는 개방형 표준입니다. JWT는 API에 액세스하려는 클라이언트를 인증하는 데 사용할 수 있으므로 보통 RESTful API를 보안하는 데 사용됩니다.
        - `Authorization : Bearer <token>` 인증 토큰
        - `X-Client-Id` 회원가입 시 발급받은 사용자 아이디
  - name: 전자(세금)계산서
    description: 전자(세금)계산서 발행 및 조회
  - name: 인증서
    description: 전자(세금)계산서용 인증서 등록 및 정보조회
  - name: 인증오류코드
    description: |
      인증에 관련된 오류 응답코드 정의
        - `AUT001`  토큰 정보 누락
        - `AUT002`  사용자 정보(X-Client-Id) 누락
        - `AUT003`  토큰 사용기간 만료
        - `AUT004`  토큰 정보가 유효하지 않음
  - name: 처리결과코드
    description: |
      전자(세금)계산서 발급 처리결과에 해당하는 응답코드 정의
        - `SUC001`  성공
        - `SYS001`  연계 사업자 인증 오류
        - `SYS002`  중복된 SubmitID
        - `SYS003`  존재하지 않는 SubmitID
        - `SYS101`  인증서 암호 불일치 오류
        - `SYS102`  유효하지 않은 인증서 오류
        - `SYS103`  전자(세금)계산서 접수 오류
        - `SYS104`  존재하지 않는 요청아이디(requestId) 오류
        - `SYS105`  존재하지 않는 승인번호(issueId) 오류
        - `SYN001`  인증서 복호화 실패
        - `SYN002`  공급사업자, 수탁자 전자서명 오류
        - `SYN003`  승인번호 중복 오류
        - `SYN004`  전자(세금)계산서 스키마 오류
        - `ERR001`  공급사업자 사업자번호 오류
        - `ERR002`  공급받는자 사업자번호 오류
        - `ERR003`  수탁사업자 등록번호 오류
        - `ERR005`  발급일시 오류
        - `ERR006`  작성일자 오류
        - `ERR007`  공급가액, 세액 오류
        - `ERR008`  코드 유형 오류
        - `ERR009`  폐업사업자 발급 오류
        - `ERR010`  국세청 등록번호 오류
        - `ERR011`  당초승인번호 오류
        - `ERR101`  이메일 전송 실패
        - `ERR102`  전자(세금)계산서 영수증 생성 실패
        - `ERR999`  정의되지 않은 기타오류

#x-tagGroups:
#  - name: REST API LIST
#    tags:
#      - 전자(세금)계산서

paths:
  /user-service/login:
    post:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 인증
      summary: 인증토큰발급
      description: API 사용자 인증을 받기 위한 토큰을 발급받는다.<p>response header에 `token` 값으로 반환된다.
      # requestBody:
      #   $ref: "#/components/requestBodies/Login"
      x-codeSamples:
        - lang: 'Javascript'
          source: |
            $.ajax({
                url: 'https://taxtest.blueport.co.kr:8443/user-service/login',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({                          // 데이터 직렬화
                    "email": "이메일주소",
                    "password": "패스워드"
                }),
                complete(function(data) {
                  console.log(data);                              // response
                  console.log(data.status);                       // HttpStatus code
                  console.log(data.responseJSON);                 // json data
                  console.log(data.getResponseHeader('token'));   // header token value
                  console.log(data.getAllResponseHeaders());      // all headers
                }
            });
      responses:
        200:
          description: OK
          headers:
            token:
              description: 인증토큰 (유효기간 1일)
              schema:
                type: String
            X-Client-Id:
              description: 사용자(고객)아이디
              schema:
                type: String
  /etaxbill-service/v1/health-check:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 서버상태체크
      description: 서버에 요청을 보내 서비스 가능 상태를 체크한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      responses:
        200:
          description: OK
          content:
            text/plain:
              schema:
                type: String
              example: It's working in BLUEPORT_ETAXBILL
      x-codeSamples:
        - lang: 'Javascript'
          source: |
            $.ajax({
                url: 'https://taxtest.blueport.co.kr:8443/etaxbill-service/v1/health-check',
                type: 'GET',
                contentType: 'application/json',
                headers: {
                    'Authorization': 'Bearer 토큰값',
                    'X-Client-Id': '클라이언트 아이디'
                },
                complete(function(data) {
                  console.log(data);                      // response
                  console.log(data.status);               // HttpStatus code
                  if(data.status == 200) {  // 성공 시 text 값 반환 (다른 API에서는 json 값 반환)
                      console.log(data.responseText);     // text data
                  } else {                  // 예외발생 시
                      console.log(data.responseJSON);     // json data
                      console.log(data.responseJSON.code);
                  }
                }
            });
  /etaxbill-service/v1/tax-invoice/issue:
    post:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 발행
      description: 국세청(홈택스)에 전자(세금)계산서를 발행한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      requestBody:
        $ref: "#/components/requestBodies/TaxInvoiceReq"
      responses:
        200:
          $ref: "#/components/responses/200Ok"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                        "success": false,
                        "code": "SYN004",
                        "msg": "전자(세금)계산서 스키마 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/tax-invoice/batch/issue:
    post:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 일괄 발행
      description: 국세청(홈택스)에 전자(세금)계산서를 일괄 발행한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      requestBody:
        $ref: "#/components/requestBodies/TaxInvoiceBatchReq"
      responses:
        200:
          $ref: "#/components/responses/200OkArray"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                        "success": false,
                        "code": "SYN004",
                        "msg": "전자(세금)계산서 스키마 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/tax-invoice/issue/list:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 목록 조회
      description: 국세청(홈택스)에 전자(세금)계산서 발행 목록을 조회한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
        - name: page
          in: query
          description: 현재 페이지 번호 (0부터 시작)
          schema:
            type: Integer
            default: 0
            example: 1
        - name: size
          in: query
          description: 페이지에 보여 줄 목록 갯 수
          schema:
            type: Integer
            default: 20
            example: 10
        - name: sort
          in: query
          description: '목록 정렬 조건 (asc : 오름차순, desc: 내림차순)<br/>ex) sort=issueId,desc&sort=writeDate,asc 승인번호 내림차순, 작성일자 오름차순 조건으로 정렬'
          schema:
            type: String
            default: sort=issueId,desc&sort=dataCreatedAt,desc
            example: writeDate,desc
        - name: sBrokerYN
          in: query
          description: 위수탁포함여부(Y/N)
          schema:
            type: String
            example: Y
        - name: sBusinessType
          in: query
          description: "매입/매출구분('01': 매입, '02': 매출)"
          schema:
            type: String
            example: '02'
        - name: sPeriodType
          in: query
          description: "조회기간구분('01': 작성일자, '02': 발급일자, '03': 전송일자)"
          schema:
            type: String
            example: '01'
        - name: sStartDate
          in: query
          description: "조회시작일"
          schema:
            type: String
            format: Date
            pattern: YYYYMMDD
            example: '20211013'
        - name: sEndDate
          in: query
          description: "조회종료일"
          schema:
            type: String
            format: Date
            pattern: YYYYMMDD
            example: '20211013'
        - name: sBusinessIdType
          in: query
          description: "등록번호구분('01': 사업자등록번호, '02': 주민등록번호, '03': 외국인)"
          schema:
            type: String
            example: '01'
        - name: sBusinessId
          in: query
          description: "등록번호(사업자등록번호 10자리, 주민등록번호 13자리, 외국인 '9999999999999' 고정값)"
          schema:
            type: String
            example: '1234567890'
        - name: sTaxRegistrationId
          in: query
          description: "종사업장번호(사업자단위과세제도에 따라 국세청에서 부여한 코드 4자리)"
          schema:
            type: String
            example: '1234'
        - name: sCompanyName
          in: query
          description: 상호
          schema:
            type: String
            example: 블루포트
        - name: sInvoiceTypeCode
          in: query
          description: "세금계산서종류(분류2자리 + 종류2자리)"
          schema:
            type: String
            example: '0101'
        - name: sProcessStatusCode
          in: query
          description: "처리상태('01': 처리완료, '02': 처리중, '03': 처리불가)"
          schema:
            type: String
            example: '01'
      responses:
        200:
          $ref: "#/components/responses/200OkList"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/tax-invoice/issue/{issueId}:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 상세 조회
      description: 국세청(홈택스)에 전자(세금)계산서 발행 상세정보를 조회한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
        - name: issueId
          in: path
          required: true
          description: 승인번호
          schema:
            type: String
      responses:
        200:
          $ref: "#/components/responses/200OkResult"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/cloud/download/originXML/{issueId}:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 XML원본 다운로드
      description: 계산서 원본XML파일을 다운로드 한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
        - name: issueId
          in: path
          description: 승인번호
          schema:
            type: String
      responses:
        200:
          description: OK
          content:
            application/octet-stream:
              schema:
                type:
              examples:
                result:
                  value: |
                    <TaxInvoice xmlns="urn:kr:or:kec:standard:Tax:ReusableAggregateBusinessInformationEntitySchemaModule:1:0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:kr:or:kec:standard:Tax:ReusableAggregateBusinessInformationEntitySchemaModule:1:0 http://www.kec.or.kr/standard/Tax/TaxInvoiceSchemaModule_1.0.xsd">
                      <ExchangedDocument>
                          ...
                      </ExchangedDocument>
                      <TaxInvoiceDocument>
                          <IssueID>2021110841000225xwcunryt</IssueID>
                          <TypeCode>0101</TypeCode>
                          <DescriptionText>이 문서는 일반 전자세금계산서 문서입니다.</DescriptionText>
                          <IssueDateTime>20211108</IssueDateTime>
                          <PurposeCode>01</PurposeCode>
                      </TaxInvoiceDocument>
                      <TaxInvoiceTradeSettlement>
                          <InvoicerParty>
                              ...
                          </InvoicerParty>
                          <InvoiceeParty>
                              ...
                          </InvoiceeParty>
                          <SpecifiedPaymentMeans>
                              <TypeCode>10</TypeCode>
                              <PaidAmount>696900</PaidAmount>
                          </SpecifiedPaymentMeans>
                          <SpecifiedPaymentMeans>
                              <TypeCode>40</TypeCode>
                              <PaidAmount>5000000</PaidAmount>
                          </SpecifiedPaymentMeans>
                          <SpecifiedMonetarySummation>
                              <ChargeTotalAmount>5179000</ChargeTotalAmount>
                              <TaxTotalAmount>517900</TaxTotalAmount>
                              <GrandTotalAmount>5696900</GrandTotalAmount>
                          </SpecifiedMonetarySummation>
                      </TaxInvoiceTradeSettlement>
                      <TaxInvoiceTradeLineItem>
                          ...
                      </TaxInvoiceTradeLineItem>
                      <TaxInvoiceTradeLineItem>
                          ...
                      </TaxInvoiceTradeLineItem>
                    </TaxInvoice>
  /etaxbill-service/v1/tax-invoice/issueResult/{requestId}:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 발행결과 조회
      description: 클라이언트에서 발행한 요청 아이디로 계산서 발행결과를 조회한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
        - name: requestId
          in: path
          required: true
          description: 요청번호<br/>- 전자(세금)계산서 발행 요청 시스템(Client)에서 부여하는 식별체계
          schema:
            type: String
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200OkResult"
              examples:
                result:
                  value:
                    {
                        "success": true,
                        "code": "SUC001",
                        "msg": "성공",
                        "data": {
                            "requestId": "20211125-001",
                            "issueId": "2021112541000225qptniogl",
                            "issueDate": "20211125103833",
                            "resultStatusCode": "SUC001"
                        }
                    }
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                        "success": false,
                        "code": "SYS104",
                        "msg": "존재하지 않는 RequestId 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/tax-invoice/batch/issueResult/list:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 발행결과 일괄 조회
      description: 클라이언트에서 발행한 요청 아이디로 계산서 발행결과를 일괄조회 한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
        - name: requestIds
          in: query
          required: true
          description: 요청아이디목록( ' , '로 구분)
          schema:
            type: String
            example: 20211125-001,20211125-003
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200OkResultList"
              examples:
                result:
                  value:
                    {
                        "success": true,
                        "code": "SUC001",
                        "msg": "성공",
                        "data": [
                            {
                                "requestId": "20211125-001",
                                "issueId": "2021112541000225qptniogl",
                                "issueDate": "20211125103833",
                                "resultStatusCode": "SUC001"
                            },
                            {
                                "requestId": "20211125-003",
                                "issueId": null,
                                "issueDate": null,
                                "resultStatusCode": "SYS104"
                            },
                            {
                                "requestId": "20211125-005",
                                "issueId": 2021112541000225qptniedl,
                                "issueDate": "20211125103835",
                                "resultStatusCode": null
                            }
                        ]
                    }
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                        "success": false,
                        "code": "SYS104",
                        "msg": "존재하지 않는 RequestId 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /email-service/v1/email/taxInvoice/send:
    put:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 이메일 재전송
      description: 발급된 계산서 영수증 이메일을 재전송 한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/taxInvoiceEmail"
            examples:
              sample:
                value:
                  {
                      "issueId": "2021121741000225atsbcxee",
                      "target": "공급받는자",
                      "toAddress": "abc@email.com, def@email.com"
                  }
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200OkSimple"
              examples:
                result:
                  value:
                    {
                        "success": true,
                        "code": "SUC001",
                        "msg": "성공"
                    }
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR101",
                      "msg": "이메일 전송 정보 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR101",
                      "msg": "이메일 전송 실패"
                    }
  /email-service/v1/email/batch/taxInvoice/send:
    put:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 이메일 일괄 재전송
      description: 발급된 계산서 영수증 이메일을 일괄 재전송 한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/taxInvoiceEmail"
            examples:
              sample:
                value:
                  [
                    {
                        "issueId": "2021121741000225dtskwxee",
                        "target": "공급자",
                        "toAddress": "abc@email.com,def@email.com"
                    },
                    {
                        "issueId": "2021121741000225atsbcxee",
                        "target": "공급받는자",
                        "toAddress": "abc@email.com, def@email.com"
                    }
                  ]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200OkSimple"
              examples:
                result:
                  value:
                    {
                        "success": true,
                        "code": "SUC001",
                        "msg": "성공"
                    }
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR101",
                      "msg": "이메일 전송 정보 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR101",
                      "msg": "이메일 전송 실패"
                    }
  /etaxbill-service/v1/tax-invoice/standby/issue:
    post:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 예약발행
      description: 전자(세금)계산서 예약발행을 등록한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      requestBody:
        $ref: "#/components/requestBodies/TaxInvoiceReq"
      responses:
        200:
          $ref: "#/components/responses/200Ok"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                        "success": false,
                        "code": "SYN004",
                        "msg": "전자(세금)계산서 스키마 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/tax-invoice/standby/batch/issue:
    post:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 일괄 예약발행
      description: 전자(세금)계산서를 예약발행을 일괄등록한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      requestBody:
        $ref: "#/components/requestBodies/TaxInvoiceBatchReq"
      responses:
        200:
          $ref: "#/components/responses/200OkArray"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                        "success": false,
                        "code": "SYN004",
                        "msg": "전자(세금)계산서 스키마 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/tax-invoice/standby/issue/{issueId}:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 예약발행 상세 조회
      description: 전자(세금)계산서 예약발행 상세정보를 조회한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
        - name: issueId
          in: path
          required: true
          description: 승인번호
          schema:
            type: String
      responses:
        200:
          $ref: "#/components/responses/200OkResult"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
    delete:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 예약발행 취소
      description: 전자(세금)계산서 예약발행 단 건을 취소한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
        - name: issueId
          in: path
          required: true
          description: 승인번호
          schema:
            type: String
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200OkResult"
              examples:
                result:
                  value:
                    {
                        "success": true,
                        "code": "SUC001",
                        "msg": "성공",
                        "data": {
                            "requestId": "20211125-001",
                            "issueId": null,
                            "issueDate": null,
                            "resultStatusCode": "SUC001"
                        }
                    }
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                        "success": false,
                        "code": "SYS105",
                        "msg": "존재하지 않는 승인번호(issueId) 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/tax-invoice/standby/issue/list:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 예약발행 목록 조회
      description: 전자(세금)계산서 예약발행 목록을 조회한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
        - name: page
          in: query
          description: 현재 페이지 번호 (0부터 시작)
          schema:
            type: Integer
            default: 0
            example: 1
        - name: size
          in: query
          description: 페이지에 보여 줄 목록 갯 수
          schema:
            type: Integer
            default: 20
            example: 10
        - name: sort
          in: query
          description: '목록 정렬 조건 (asc : 오름차순, desc: 내림차순)<br/>ex) sort=issueId,desc&sort=writeDate,asc 승인번호 내림차순, 작성일자 오름차순 조건으로 정렬'
          schema:
            type: String
            default: sort=issueId,desc&sort=dataCreatedAt,desc
            example: writeDate,desc
        - name: sBrokerYN
          in: query
          description: 위수탁포함여부(Y/N)
          schema:
            type: String
            example: Y
        - name: sBusinessType
          in: query
          description: "매입/매출구분('01': 매입, '02': 매출)"
          schema:
            type: String
            example: '02'
        - name: sPeriodType
          in: query
          description: "조회기간구분('01': 작성일자, '02': 발급일자, '03': 전송일자)"
          schema:
            type: String
            example: '01'
        - name: sStartDate
          in: query
          description: "조회시작일"
          schema:
            type: String
            format: Date
            pattern: YYYYMMDD
            example: '20211013'
        - name: sEndDate
          in: query
          description: "조회종료일"
          schema:
            type: String
            format: Date
            pattern: YYYYMMDD
            example: '20211013'
        - name: sBusinessIdType
          in: query
          description: "등록번호구분('01': 사업자등록번호, '02': 주민등록번호, '03': 외국인)"
          schema:
            type: String
            example: '01'
        - name: sBusinessId
          in: query
          description: "등록번호(사업자등록번호 10자리, 주민등록번호 13자리, 외국인 '9999999999999' 고정값)"
          schema:
            type: String
            example: '1234567890'
        - name: sTaxRegistrationId
          in: query
          description: "종사업장번호(사업자단위과세제도에 따라 국세청에서 부여한 코드 4자리)"
          schema:
            type: String
            example: '1234'
        - name: sCompanyName
          in: query
          description: 상호
          schema:
            type: String
            example: 블루포트
        - name: sInvoiceTypeCode
          in: query
          description: "세금계산서종류(분류2자리 + 종류2자리)"
          schema:
            type: String
            example: '0101'
        - name: sProcessStatusCode
          in: query
          description: "처리상태('01': 처리완료, '02': 처리중, '03': 처리불가)"
          schema:
            type: String
            example: '01'
      responses:
        200:
          $ref: "#/components/responses/200OkList"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
    delete:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 전자(세금)계산서
      summary: 계산서 예약발행 일괄취소
      description: 전자(세금)계산서 예약발행을 일괄 취소한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
        - name: issueIds
          in: query
          required: true
          description: 승인번호목록( ' , '로 구분)
          schema:
            type: String
            example: 2022022141000225tkfuerep,2022022141000225zctgepvu
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200OkResultList"
              examples:
                result:
                  value:
                    {
                        "success": true,
                        "code": "SUC001",
                        "msg": "성공",
                        "data": [
                            {
                                "requestId": "20211125-001",
                                "issueId": null,
                                "issueDate": null,
                                "resultStatusCode": "SUC001"
                            },
                            {
                                "requestId": "20211125-003",
                                "issueId": null,
                                "issueDate": null,
                                "resultStatusCode": "SYS104"
                            }
                        ]
                    }
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                        "success": false,
                        "code": "SYS105",
                        "msg": "존재하지 않는 승인번호(issueId) 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }
  /etaxbill-service/v1/certificate/registry:
    post:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 인증서
      summary: 인증서 등록
      description: 전자(세금)계산서용 인증서를 등록한다. (인증서, 개인키)
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      requestBody:
        required: true
        content:
          form-data:
            schema:
              $ref: "#/components/schemas/taxInvoiceCertification"
            examples:
              result:
                  value: |
                    <form id="fileForm" method="post" enctype="multipart/form-data">
                      <!-- 파일 순서 상관없이 확장자로 구별 (.key or not) -->
                      인증서: <input type="file" name="files">
                      개인키: <input type="file" name="files">
                      인증서비밀번호: <input type="password" name="password">
                      인증서비밀번호확인: <input type="password" name="passwordConfirm">
                    </form>
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200OkSimple"
              examples:
                result:
                  value:
                    {
                        "success": true,
                        "code": "SUC001",
                        "msg": "성공"
                    }
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "SYS102",
                      "msg": "인증서 검증 실패 오류"
                    }
      x-codeSamples:
        - lang: 'Javascript'
          source: |
            var form = $('#fileForm')[0];
            var formData = new FormData(form);
            $.ajax({ 
              type: "POST", 
              enctype: 'multipart/form-data', // 필수 
              url: API_SERVER + '/etaxbill-service/v1/certificate/registry',
              data: formData, // 필수 
              processData: false, // 필수 
              contentType: false, // 필수 
              cache: false, 
              headers: {
                  'Authorization': 'Bearer 토큰값',
                  'X-Client-Id': '클라이언트 아이디'
              },
              success: function (data) { 
                ...
              }, 
              error: function (e) { 
                ...
              },
              complete: function() {
                ...
              }
            });
  /etaxbill-service/v1/certificate/info:
    get:
      servers:
        - url: https://taxtest.blueport.co.kr:8443
      tags:
        - 인증서
      summary: 인증서 정보조회
      description: 전자(세금)계산서용 인증서 정보를 조회한다.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: String
          example: "Bearer <TOKEN>"
        - name: X-Client-Id
          in: header
          description: 사용자 아이디(24자리)
          required: true
          schema:
            type: String
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200OkResult"
              examples:
                result:
                  value:
                    {
                      "success": true,
                      "code": "SUC001",
                      "msg": "성공",
                      "data": {
                          "owner": "CN=(주)블루포트_세금(BLUEP)008168120160129181000387, OU=BLUEPORT, OU=HNB, OU=xUse4Esero, O=yessign, C=kr",
                          "issuer": "CN=yessignCA Class 2, OU=AccreditedCA, O=yessign, C=kr",
                          "creationDate": "2022-01-26",
                          "expirationDate": "2023-02-04",
                          "algorithm": "SHA256withRSA",
                          "type": "X.509"
                      }
                    }
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400BadRequest"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "AUT005",
                      "msg": "사용자 정보 미존재 오류"
                    }
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/500InternalServerError"
              examples:
                result:
                  value:
                    {
                      "success": false,
                      "code": "ERR999",
                      "msg": "정의되지 않은 기타오류"
                    }

components:
  requestBodies:
    Login:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Login"
          examples:
            result:
              value:
                {
                  "email": "abc@blueport.co.kr",
                  "password": "12345678"
                }
    TaxInvoiceReq:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/TaxInvoiceReq"
          examples:
            전자세금계산서:
              value:
                {
                  "requestId": "1234567890",
                  "invoiceTypeCode": "0101",
                  "writeDate": "20211013",
                  "supplyAmount": 5179000,
                  "taxAmount": 517900,
                  "description1": "이 문서는 일반 전자세금계산서 문서입니다.",
                  "description2": null,
                  "description3": null,
                  "modifyCode": null,
                  "purposeType": "01",
                  "originalIssueId": null,

                  "paymentCash": 696900,
                  "paymentCheck": null,
                  "paymentNote": null,
                  "paymentCredit": 5000000,
                  
                  "supplierBusinessId": "0987654321",
                  "supplierTaxRegistrationId": null,
                  "supplierCompanyName": "(주)블루포트",
                  "supplierCeoName": "박재영",
                  "supplierAddress": "서울시 서초구 서초대로 78길 5 12층(서초동, 대각빌딩)",
                  "supplierBusinessType": "도,소매",
                  "supplierBusinessItem": "소프트웨어 개발 및 공급",
                  "supplierDepartmentName": null,
                  "supplierPersonName": null,
                  "supplierPhone": null,
                  "supplierEmail": "abc@blueport.co.kr",
                  "supplierCCEmail": null,

                  "consumerBusinessId": "1234567890",
                  "consumerTaxRegistrationId": null,
                  "consumerCompanyName": "(주)유령",
                  "consumerCeoName": "도깨비",
                  "consumerAddress": null,
                  "consumerBusinessType": "서비스.임대",
                  "consumerBusinessItem": "컴퓨터주변기기",
                  "consumerDepartmentName1": "SW, IT, CT",
                  "consumerPersonName1": null,
                  "consumerPhone1": null,
                  "consumerEmail1": "admin@ghost.com",
                  "consumerDepartmentName2": null,
                  "consumerPersonName2": null,
                  "consumerPhone2": null,
                  "consumerEmail2": null,
                  "consumerCCEmail": null,

                  "taxInvoiceTradeLineItems": [
                      {
                          "itemSupplyDate": "20211013",
                          "itemName": "DevExpress DXperience",
                          "itemInformation": "DevExpress DXperience Subscription",
                          "itemQuantity": 2,
                          "itemUnitPrice": 1880000,
                          "itemSupplyAmount": 3760000,
                          "itemTaxAmount": 376000,
                          "itemDescription": ""
                      },
                      {
                          "itemSupplyDate": "20211013",
                          "itemName": "Infragistics Professional",
                          "itemInformation": "Infragistics Professional Subscription",
                          "itemQuantity": 1,
                          "itemUnitPrice": 1419000,
                          "itemSupplyAmount": 1419000,
                          "itemTaxAmount": 141900,
                          "itemDescription": ""
                      }
                  ]
                }
            전자계산서:
              value:
                {
                  "invoiceTypeCode": "0301",
                  "writeDate": "20211013",
                  "supplyAmount": 5179000,
                  "description1": "이 문서는 일반 전자계산서 문서입니다.",
                  "description2": null,
                  "description3": null,
                  "modifyCode": null,
                  "purposeType": "01",
                  "originalIssueId": null,

                  "paymentCash": 179000,
                  "paymentCheck": null,
                  "paymentNote": null,
                  "paymentCredit": 5000000,
                  
                  "supplierBusinessId": "0987654321",
                  "supplierTaxRegistrationId": null,
                  "supplierCompanyName": "(주)블루포트",
                  "supplierCeoName": "박재영",
                  "supplierAddress": "서울시 서초구 서초대로 78길 5 12층(서초동, 대각빌딩)",
                  "supplierBusinessType": "도,소매",
                  "supplierBusinessItem": "소프트웨어 개발 및 공급",
                  "supplierDepartmentName": null,
                  "supplierPersonName": null,
                  "supplierPhone": null,
                  "supplierEmail": "abc@blueport.co.kr",
                  "supplierCCEmail": null,

                  "consumerBusinessId": "1234567890",
                  "consumerTaxRegistrationId": null,
                  "consumerCompanyName": "(주)유령",
                  "consumerCeoName": "도깨비",
                  "consumerAddress": null,
                  "consumerBusinessType": "서비스.임대",
                  "consumerBusinessItem": "컴퓨터주변기기",
                  "consumerDepartmentName1": "SW, IT, CT",
                  "consumerPersonName1": null,
                  "consumerPhone1": null,
                  "consumerEmail1": "admin@ghost.com",
                  "consumerDepartmentName2": null,
                  "consumerPersonName2": null,
                  "consumerPhone2": null,
                  "consumerEmail2": null,
                  "consumerCCEmail": null,

                  "taxInvoiceTradeLineItems": [
                      {
                          "itemSupplyDate": "20211013",
                          "itemName": "DevExpress DXperience",
                          "itemInformation": "DevExpress DXperience Subscription",
                          "itemQuantity": 2,
                          "itemUnitPrice": 1880000,
                          "itemSupplyAmount": 3760000,
                          "itemDescription": ""
                      },
                      {
                          "itemSupplyDate": "20211013",
                          "itemName": "Infragistics Professional",
                          "itemInformation": "Infragistics Professional Subscription",
                          "itemQuantity": 1,
                          "itemUnitPrice": 1419000,
                          "itemSupplyAmount": 1419000,
                          "itemDescription": ""
                      }
                  ]
              }
    TaxInvoiceBatchReq:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/TaxInvoiceReq"
          examples:
            sample:
              value:
                [
                  {
                    "requestId": "1234567890",
                    "invoiceTypeCode": "0201",
                    "writeDate": "20211013",
                    "supplyAmount": 5179000,
                    "taxAmount": 517900,
                    "description1": "이 문서는 수정 전자세금계산서 문서입니다.",
                    "description2": null,
                    "description3": null,
                    "modifyCode": "01",
                    "purposeType": "01",
                    "originalIssueId": "2021090200000000abcdefgh",

                    "paymentCash": 696900,
                    "paymentCheck": null,
                    "paymentNote": null,
                    "paymentCredit": 5000000,
                    
                    "supplierBusinessId": "0987654321",
                    "supplierTaxRegistrationId": null,
                    "supplierCompanyName": "(주)블루포트",
                    "supplierCeoName": "박재영",
                    "supplierAddress": "서울시 서초구 서초대로 78길 5 12층(서초동, 대각빌딩)",
                    "supplierBusinessType": "도,소매",
                    "supplierBusinessItem": "소프트웨어 개발 및 공급",
                    "supplierDepartmentName": null,
                    "supplierPersonName": null,
                    "supplierPhone": null,
                    "supplierEmail": "abc@blueport.co.kr",
                    "supplierCCEmail": null,

                    "consumerBusinessId": "1234567890",
                    "consumerTaxRegistrationId": null,
                    "consumerCompanyName": "(주)유령",
                    "consumerCeoName": "도깨비",
                    "consumerAddress": null,
                    "consumerBusinessType": "서비스.임대",
                    "consumerBusinessItem": "컴퓨터주변기기",
                    "consumerDepartmentName1": "SW, IT, CT",
                    "consumerPersonName1": null,
                    "consumerPhone1": null,
                    "consumerEmail1": "admin@ghost.com",
                    "consumerDepartmentName2": null,
                    "consumerPersonName2": null,
                    "consumerPhone2": null,
                    "consumerEmail2": null,
                    "consumerCCEmail": null,

                    "taxInvoiceTradeLineItems": [
                        {
                            "itemSupplyDate": "20211013",
                            "itemName": "DevExpress DXperience",
                            "itemInformation": "DevExpress DXperience Subscription",
                            "itemQuantity": 2,
                            "itemUnitPrice": 1880000,
                            "itemSupplyAmount": 3760000,
                            "itemTaxAmount": 376000,
                            "itemDescription": ""
                        },
                        {
                            "itemSupplyDate": "20211013",
                            "itemName": "Infragistics Professional",
                            "itemInformation": "Infragistics Professional Subscription",
                            "itemQuantity": 1,
                            "itemUnitPrice": 1419000,
                            "itemSupplyAmount": 1419000,
                            "itemTaxAmount": 141900,
                            "itemDescription": ""
                        }
                    ]
                  },
                  {
                    "requestId": "2345678901",
                    "invoiceTypeCode": "0401",
                    "writeDate": "20211013",
                    "supplyAmount": 5179000,
                    "description1": "이 문서는 수정 전자계산서 문서입니다.",
                    "description2": null,
                    "description3": null,
                    "modifyCode": "01",
                    "purposeType": "01",
                    "originalIssueId": "2021090200000000abcdefgh",

                    "paymentCash": 179000,
                    "paymentCheck": null,
                    "paymentNote": null,
                    "paymentCredit": 5000000,
                    
                    "supplierBusinessId": "0987654321",
                    "supplierTaxRegistrationId": null,
                    "supplierCompanyName": "(주)블루포트",
                    "supplierCeoName": "박재영",
                    "supplierAddress": "서울시 서초구 서초대로 78길 5 12층(서초동, 대각빌딩)",
                    "supplierBusinessType": "도,소매",
                    "supplierBusinessItem": "소프트웨어 개발 및 공급",
                    "supplierDepartmentName": null,
                    "supplierPersonName": null,
                    "supplierPhone": null,
                    "supplierEmail": "abc@blueport.co.kr",
                    "supplierCCEmail": null,

                    "consumerBusinessId": "1234567890",
                    "consumerTaxRegistrationId": null,
                    "consumerCompanyName": "(주)유령",
                    "consumerCeoName": "도깨비",
                    "consumerAddress": null,
                    "consumerBusinessType": "서비스.임대",
                    "consumerBusinessItem": "컴퓨터주변기기",
                    "consumerDepartmentName1": "SW, IT, CT",
                    "consumerPersonName1": null,
                    "consumerPhone1": null,
                    "consumerEmail1": "admin@ghost.com",
                    "consumerDepartmentName2": null,
                    "consumerPersonName2": null,
                    "consumerPhone2": null,
                    "consumerEmail2": null,
                    "consumerCCEmail": null,

                    "taxInvoiceTradeLineItems": [
                        {
                            "itemSupplyDate": "20211013",
                            "itemName": "DevExpress DXperience",
                            "itemInformation": "DevExpress DXperience Subscription",
                            "itemQuantity": 2,
                            "itemUnitPrice": 1880000,
                            "itemSupplyAmount": 3760000,
                            "itemDescription": ""
                        },
                        {
                            "itemSupplyDate": "20211013",
                            "itemName": "Infragistics Professional",
                            "itemInformation": "Infragistics Professional Subscription",
                            "itemQuantity": 1,
                            "itemUnitPrice": 1419000,
                            "itemSupplyAmount": 1419000,
                            "itemDescription": ""
                        }
                    ]
                  }
                ]
  responses:
    200Ok:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                description: 응답성공여부
                type: Boolean
              code:
                description: 응답코드(결과코드 참조)
                type: String
              msg:
                description: 응답메시지
                type: String
              data:
                description: "조회 결과 데이터(Response sample 참조)"
                type: Object
          examples:
            result:
              value:
                {
                  "success": true,
                  "code": "SUC001",
                  "msg": "성공",
                  "data": {
                    "requestId": "1234567890",
                    "issueId": "2021121041000225anihmmtb",
                    "issueDate": "20211210103833",
                    "resultStatusCode": "SUC001"
                  }
                }
    200OkArray:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                description: 응답성공여부
                type: Boolean
              code:
                description: 응답코드(결과코드 참조)
                type: String
              msg:
                description: 응답메시지
                type: String
              data:
                description: "조회 결과 데이터(Response sample 참조)"
                type: ArrayList
          examples:
            result:
              value:
                {
                  "success": true,
                  "code": "SUC001",
                  "msg": "성공",
                  "data": [
                    {
                      "requestId": "1234567890",
                      "issueId": "2021121041000225giddyycn",
                      "issueDate": "20211210103833",
                      "resultStatusCode": "SUC001"
                    },
                    {
                      "requestId": "2345678901",
                      "issueId": "2021121041000225ufvbwswr",
                      "issueDate": "20211210103833",
                      "resultStatusCode": "SYN004"
                    }
                  ]
                }
    200OkList:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                description: 응답성공여부
                type: Boolean
              code:
                description: 응답코드(결과코드 참조)
                type: String
              msg:
                description: 응답메시지
                type: String
              data:
                description: "조회 결과 데이터(Response sample 참조)"
                type: Object
          examples:
            result:
              value:
                {
                  "success": true,
                  "code": "SUC001",
                  "msg": "성공",
                  "data": {
                      "content": [
                          {
                              "issueId": "2021091641000225ilsqmvth",
                              "issueDate": "20210916142709",
                              "invoiceTypeCode": "0101",
                              "writeDate": "20210916",
                              "supplyAmount": 30000,
                              "taxAmount": 3000,
                              "totalAmount": 33000,
                              "description1": "이 문서는 일반 전자(세금)계산서 문서입니다.",
                              "description2": null,
                              "description3": null,
                              "modifyCode": null,
                              "purposeType": "01",
                              "originalIssueId": null,
                              "paymentCash": 11000,
                              "paymentCheck": null,
                              "paymentNote": 22000,
                              "paymentCredit": null,
                              "supplierBusinessId": "0987654321",
                              "supplierTaxRegistrationId": null,
                              "supplierCompanyName": "(주)블루포트",
                              "supplierCeoName": "박재영",
                              "supplierAddress": "서울시 서초구 서초대로 78길 5 12층(서초동, 대각빌딩)",
                              "supplierBusinessType": "도,소매",
                              "supplierBusinessItem": "소프트웨어 개발 및 공급",
                              "supplierDepartmentName": null,
                              "supplierPersonName": null,
                              "supplierPhone": null,
                              "supplierEmail": "abc@blueport.co.kr",
                              "consumerBusinessId": "1234567890",
                              "consumerBusinessIdType": "01",
                              "consumerTaxRegistrationId": null,
                              "consumerCompanyName": "(주)유령",
                              "consumerCeoName": "도깨비",
                              "consumerAddress": null,
                              "consumerBusinessType": "서비스.임대",
                              "consumerBusinessItem": "컴퓨터주변기기",
                              "consumerDepartmentName1": "SW, IT, CT",
                              "consumerPersonName1": null,
                              "consumerPhone1": null,
                              "consumerEmail1": "admin@ghost.com",
                              "consumerDepartmentName2": null,
                              "consumerPersonName2": null,
                              "consumerPhone2": null,
                              "consumerEmail2": null,
                              "brokerBusinessId": null,
                              "brokerTaxRegistrationId": null,
                              "brokerCompanyName": null,
                              "brokerCeoName": null,
                              "brokerAddress": null,
                              "brokerBusinessType": null,
                              "brokerBusinessItem": null,
                              "brokerDepartmentName": null,
                              "brokerPersonName": null,
                              "brokerPhone": null,
                              "brokerEmail": null,
                              "processStatusCode": "01",
                              "resultStatusCode": "SUC001",
                              "resultMessage": "성공"
                          },
                          {
                              "issueId": "2021091641000225njhoctit",
                              "issueDate": "20210916142741",
                              "invoiceTypeCode": "0101",
                              "writeDate": "20210916",
                              "supplyAmount": 30000,
                              "taxAmount": 4000,
                              "totalAmount": 34000,
                              "description1": "이 문서는 일반 전자(세금)계산서 문서입니다.",
                              "description2": null,
                              "description3": null,
                              "modifyCode": null,
                              "purposeType": "01",
                              "originalIssueId": null,
                              "paymentCash": 11000,
                              "paymentCheck": null,
                              "paymentNote": 22000,
                              "paymentCredit": null,
                              "supplierBusinessId": "0987654321",
                              "supplierTaxRegistrationId": null,
                              "supplierCompanyName": "(주)블루포트",
                              "supplierCeoName": "박재영",
                              "supplierAddress": "서울시 서초구 서초대로 78길 5 12층(서초동, 대각빌딩)",
                              "supplierBusinessType": "도,소매",
                              "supplierBusinessItem": "소프트웨어 개발 및 공급",
[...]
